@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1250px) {
    .search-flight{
        flex-direction: column;
        gap: 16px;
    }
    
    .intro{
        display: none;
    }
}

@media screen and (min-width: 1250px) {

    .search-flight > div:nth-child(2){
        width: 18%;
    }
    .search-flight > div:nth-child(3){
        width: 18%;
    }
    .search-flight > div:nth-child(5){
        width: 10%;
    }

    .search-flight-main{
        width: 96%;
    }
}